<div class="ms-movie-list">
  <app-card class="ms-movie-card"
            *ngFor="let movie of movies"
            (keyup.enter)="openDialog(movie.id)"
            (click)="openDialog(movie.id)">
    <ng-container card-head>
      <h3 class="ms-movie-card__title"
          [matTooltip]="movie.title">
        <span>{{movie.title}}</span>
        <small>{{movie.year}}</small>
      </h3>
    </ng-container>
    <ng-container card-body>
      <div class="ms-movie-card__img">
        <img [src]="movie.imgUrl" alt="Photo of a movie">
      </div>
    </ng-container>
  </app-card>
</div>

