@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-focus-variant";
@import "~src/styles/typography/h3";

.ms-movie {
  &-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: -$space-base-half 0;
    @include focus-variant;
  }

  &-card {
    padding: $space-base-half;

    // For Desktop & Tablet.
    @media (min-width: $screen-md) {
      width: calc(100% * 1 / 3);
      max-width: unset;
    }

    // For Desktop & Tablet.
    @media (min-width: $screen-lg) {
      width: calc(100% * 1 / 4);
      max-width: unset;
    }

    &__img {
      overflow: hidden;

      img {
        transition: transform $transition-base;
      }
    }

    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.05);
      }
    }
  }
}
