@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-focus-variant";
@import "~src/styles/core/mixins/mixin-flex-variant";
@import "~src/styles/core/mixins/mixin-btn-variant";

.ms-header {
  height: $header-height;
  padding: $header-spaces;
  background-color: var(--header-bg);
  color: var(--header-color);
  @include flex-variant(flex, unset, center);


  &__icon {
    color: var(--header-color);
  }

  &__logo {
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    font-size: $header-logo-font-size;
    padding: $header-logo-spaces;
    @include focus-variant;
  }

  &__btn {
    margin-left: -$space-base;

    @include flex-variant(flex, center, center);
    @include btn-variant(
        $btn-icon-bg,
        $btn-icon-border,
        $btn-icon-size,
        $btn-icon-size
    )
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    & {
      &__logo {
        flex: unset;
        text-align: left;
      }

      &__btn {
        display: none;
      }
    }
  }
}
