<header class="ms-header">
  <button mat-icon-button
          class="ms-header__btn"
          aria-label="Toggle left sidebar"
          (click)="handleClick()">
    <mat-icon class="ms-header__icon"
              *ngIf="!toggleIcon"
              aria-hidden="true" svgIcon="menu"></mat-icon>
    <mat-icon class="ms-header__icon"
              *ngIf="toggleIcon"
              aria-hidden="true" svgIcon="close"></mat-icon>
  </button>
  <a href="/"
     class="ms-header__logo"
     aria-labelledby="Go to home page">{{projectName}}</a>
</header>
