:root {
  --color-white: #fff;
  --color-gray: #f5f5f5;
  --color-primary: #027796;
  --color-primary-dark: #06496b;

  /*
  * Angular Material.
  */
  --mat-overlay-bg: rgba(0, 0, 0, 0.32);

  /*
  * Scrollbar.
  */
  --scrollbar-bg: var(--color-primary);

  /*
  * Header.
  */
  --header-bg: var(--color-primary);
  --header-color: var(--color-white);

  /*
  * SideNav.
  */
  --sidenav-bg: var(--color-primary-dark);
  --sidenav-color: var(--color-white);

  --sidenav-item-bg--action: var(--color-primary);

  /*
  * Headings.
  */
  --head-color: var(--color-primary-dark);

  /*
  * Card.
  */
  --card-head-color: var(--color-primary-dark);
  --card-body-bg: var(--color-gray);

  /*
  * Custom Focus.
  */
  --focus-outline: var(--color-primary);

  /*
  * Dialog.
  */
  --dialog-img-bg: var(--color-gray);

  /*
  * Spinner.
  */
  --spinner-bg: var(--mat-overlay-bg)
}

