@import "../../../styles/core/variables/variables";
@import "../../../styles/core/mixins/mixin-flex-variant";
@import "../../../styles/core/mixins/mixin-btn-variant";

.ms-header {
  height: $header-height;
  padding: $header-spaces;
  background-color: var(--header-bg);
  color: var(--header-color);
  @include flex-variant(flex, space-between, center);
  position: relative;
  z-index: $z-index-header;

  &__icon {
    color: var(--header-color);
  }

  &__logo {
    flex: 1;
    text-transform: uppercase;
    font-size: $header-logo-font-size;
  }

  &__btn {
    margin-left: -$space-base;

    @include btn-variant(
        $btn-icon-bg,
        $btn-icon-border,
        $btn-icon-size,
        $btn-icon-size
    )
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    & {
      &__logo {
        flex: unset;
      }

      &__btn {
        display: none;
      }
    }
  }
}
