@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-flex-variant";

.ms-sidenav__item {
  min-height: $sidenav-item-height;
  padding: $sidenav-item-spaces;
  @include flex-variant(flex, unset, center);

  &:active,
  &:hover {
    background-color: var(--sidenav-item-bg--action);
  }
}

