<app-spinner [class.is-sidenav]="showSideNav$ | async"></app-spinner>
<app-header></app-header>
<main class="ms-main">
  <mat-sidenav-container class="ms-main__content"
                         hasBackdrop="false">
    <mat-sidenav class="ms-sidenav"
                 [mode]="sideNavMode"
                 disableClose="true"
                 autoFocus="false"
                 [opened]="showSideNav$ | async">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>


