<app-header></app-header>
<main class="ms-main">
  <mat-drawer-container class="ms-main__content"
                        hasBackdrop="false">
    <mat-drawer class="ms-sidenav"
                [mode]="sideNavMode"
                [opened]="showSideNav$ | async">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <!--  <app-spinner *ngIf="loading$ | async"></app-spinner>-->
<!--      <app-spinner [class.is-open-sidenav]="showSideNav$ | async"></app-spinner>-->
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>


