@import "~src/styles/core/variables/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

/**
* Sidenav.
*/
.ms-sidenav {
  background-color: var(--sidenav-bg);
  color: var(--sidenav-color);
  overflow-y: auto;
  padding: $sidenav-spaces;
  width: 100%;

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    width: $sidenav-width;
  }
}

/**
* Main.
*/
.ms-main {
  flex: 1;
  display: flex;
  overflow: auto;

  &__content {
    flex: 1;
  }
}

