<div class="ms-dialog">
  <div mat-dialog-title
       class="ms-dialog__img"
       [attr.style]="'background-image: url(' + data.imgUrl +')'">
  </div>
  <button class="ms-dialog__close"
          aria-label="Close Dialog"
          (click)="handleClick()">
    <mat-icon aria-hidden="true"
              svgIcon="close"></mat-icon>
  </button>
  <div mat-dialog-content>
    <h1 class="ms-dialog__title">
      <span>{{data.title}}</span>
      <small>{{data.year}}</small>
    </h1>
    <div class="ms-movie-list">
      <ul class="ms-movie-list__col">
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelRated}}:</label>
          <span>{{data.rated || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelReleased}}:</label>
          <span>{{data.released || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelRuntime}}:</label>
          <span>{{data.runtime || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelGenre}}:</label>
          <span>{{data.genre || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelDirector}}:</label>
          <span>{{data.director || noData}}</span>
        </li>
      </ul>

      <ul class="ms-movie-list__col">
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelWriter}}:</label>
          <span>{{data.writer || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelActors}}:</label>
          <span>{{data.actors || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelPlot}}:</label>
          <span>{{data.plot || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelLanguage}}:</label>
          <span>{{data.language || noData}}</span>
        </li>
        <li class="ms-movie-list__item">
          <label class="ms-movie-list__label">{{labelCountry}}:</label>
          <span>{{data.country || noData}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
