@import "~src/styles/core/variables/variables";

@mixin head-variant($type) {
  text-transform: capitalize;
  color: var(--head-color);

  small,
  span {
    display: block;
  }

  small {
    font-size: $font-size-base;
  }

  @if $type == 'h2' {
    font-size: $h2-font-size;
    font-family: $h2-font-family;
    padding: $h2-spaces;

  } @else if $type == 'h1' {
    font-size: $h1-font-size;
    font-family: $h1-font-family;
    padding: $h1-spaces;
  }
}
