@import '~@angular/material/theming';
@include mat-core();

$ms-primary: (
  50 : #e1e9ed,
  100 : #b4c8d3,
  200 : #83a4b5,
  300 : #518097,
  400 : #2b6481,
  500 : #06496b,
  600 : #054263,
  700 : #043958,
  800 : #03314e,
  900 : #02213c,
  A100 : #72b2ff,
  A200 : #3f96ff,
  A400 : #0c7aff,
  A700 : #006ef1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$ms-accent: (
  50 : #e1eff2,
  100 : #b3d6e0,
  200 : #81bbcb,
  300 : #4ea0b6,
  400 : #288ba6,
  500 : #027796,
  600 : #026f8e,
  700 : #016483,
  800 : #015a79,
  900 : #014768,
  A100 : #97d8ff,
  A200 : #64c5ff,
  A400 : #31b2ff,
  A700 : #18a8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ms-theme-primary: mat-palette($ms-primary);
$ms-theme-accent: mat-palette($ms-accent);
$ms-theme: mat-light-theme($ms-theme-primary, $ms-theme-accent);

@include angular-material-theme($ms-theme);
